.paginator__toolkit {
  display: flex;
  // height: 35px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;

  &__item {
    margin-left: 20px;
  }
}